@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); 

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Barlow Condensed', sans-serif; 
}

body { 
    background: #ececee; 
    min-height: 100vh; 
    overflow-x: hidden; 
}

/* * * * * * * * * * * * * * * * * NAV BAR START * * * * * * * * * * * * * * * * */ 
.navigation {
    display: flex;
    justify-content: center;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.navigation li {
    text-align: center;
    margin: 0 10px;
}

.navigation a {
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 15px; 
    border-radius: 8px; 
    font-family: 'Barlow Condensed', sans-serif; /* Set the font family */
    font-size: 18px; /* Adjust the font size */
}

.navigation i {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 5px; 
}

.navigation a:hover, 
.navigation a.active {
    background: #000000; 
    color: #ececec;
    font-weight: bold; 
}

/* * * * * * * * * * * * * * * * * NAV BAR END * * * * * * * * * * * * * * * * */ 

.parallax { 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

#text { 
    position: absolute; 
    font-size: 5em;
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0,0,0, 0.2); 
}

.parallax img { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    pointer-events: none; 
}

.background { 
    position: relative; 
    background: #003329;
    padding: 100px; 
}

.background h2 { 
    font-size: 3em; 
    color: #fff; 
    margin-bottom: 10px; 
}

.background p { 
    font-size: 1em; 
    color: #fff; 
    font-weight: 300;
}

.experience { 
    position: relative; 
    background: #359381;
    padding: 100px; 
}

.experience h2 { 
    font-size: 3em; 
    color: #fff; 
    margin-bottom: 10px; 
}

.experience p { 
    font-size: 1em; 
    color: #fff; 
    font-weight: 300;
}

.projects { 
    position: relative; 
    background: #f9f9f9;
    padding: 100px; 
}

.projects h2 { 
    font-size: 3em; 
    color: #003329; 
    margin-bottom: 10px; 
}

.projects p { 
    font-size: 1em; 
    color: #003329; 
    font-weight: 300;
}

.contact { 
    position: relative; 
    background: #359381;
    padding: 100px; 
}

.contact h2 { 
    font-size: 3em; 
    color: #fff; 
    margin-bottom: 10px; 
}

.contact p { 
    font-size: 1em; 
    color: #fff; 
    font-weight: 300;
}