{%extends "navlayout.html"%}
{%block content%}
<div class="background" id="id_background">
    <h1> About Me </h1>
    <p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam nunc nec tellus vehicula rutrum. Fusce at gravida mauris. Ut placerat, libero eget lacinia ultrices, tortor risus condimentum urna, eget auctor turpis elit at nibh. Phasellus elementum imperdiet odio, in maximus metus tempor dapibus. Suspendisse porttitor lobortis dolor rutrum pretium. Nullam tempus lorem scelerisque nibh hendrerit, nec placerat nibh dapibus. Nullam a finibus ex, nec elementum lacus.
    </p> 

</div>
{%endblock%}