{%extends "navlayout.html"%}
{%block content%}
<div class="experience">
    <h1> Work Experience </h1>
    <p>
        Quadruped Robot | Boston University                                                                                                                 Sep 2021 - present<br>
        <i>Technical Teammate</i><br>
        <li>Worked with BU SPARK! Innovation Fellows to create a Quadruped Robot which helps users mitigate feelings of loneliness and stress by providing them with a robotic pet companion. </li>
    </p>
    <p>
        Citi Early ID Leadership Program | Citi Bank                                                                                                      Feb 2022 - March 2022<br>
        <i>Intern</i><br>
        <li> Received technical and professional training to prepare for an application development role at Citi.</li>
    </p>
    <p>
        Hack4Impact | Boston University                                                                                                                         Sep 2021 - present<br>
        <i>Junior Developer</i><br>
        <li> Developed software for other nonprofits to meet their social and humanitarian needs.</li>
        <li> Collaborated with other aspiring developers to create and debug code together. </li>
    </p>
    <p>
        JP Morgan Chase Software Engineering Virtual Experience | JP Morgan Chase                                        Sep 2020 - Oct 2020<br>
        <i>Intern</i><br>
        <li> Defined open source code to visualize and analyze share price data for traders.</li>
        <li> Used <i>Perspective</i> to write code to help traders visualize data.</li>
    </p>
    <p>
        Archaeology Office | Boston University  				                                                                      Aug 2021 - present<br>
        <i>Office Assistant</i><br>
        <li> Aided in the maintenance of the office, picked up mail, and made copies for Professors.</li>
    </p>
    <p>
        Macy’s Fine Jewelry Department | Macy’s                                                                                                            Nov 2020 - Jan 2021<br>
        <i>Sales Associate</i><br>
        <li> Organized merchandise, recommended products, and got customers excited about their purchases.</li>
    </p>

</div>
{%endblock%}