{%extends "navlayout.html"%}
{%block content%}
<div class="hobbies">
    <h1> Hobbies </h1>
    <h2> Here's a list of things I like to do on my free time:</h2>

    <div class="card">
        <img src="static/img/portfolio-baking.jpg" alt="Baking">
        <div class="container">
          <h4><b>Baking</b></h4>
        </div>
    </div>

    <div class="card">
        <img src="static/img/portfolio-watchingsoccer.jpg" alt="Soccer">
        <div class="container">
          <h4><b>Watching Soccer</b></h4>
        </div>
    </div>

    <div class="card">
        <img src="static/img/portfolio-city.jpg" alt="Exploring">
        <div class="container">
          <h4><b>Exploring the City</b></h4>
        </div>
    </div> 

    <div class="card">
      <img src="static/img/portfolio-fishing.jpg" alt="Fishing">
      <div class="container">
        <h4><b>Fishing</b></h4>
      </div>
    </div>
</div>
{%endblock%}