{%extends "navlayout.html"%}
{%block content%}
<div class="hobbies">
    <h1> Hobbies </h1>
    <h2> Here's a list of things I like to do on my free time:</h2>>
    <ul>
        <li>Baking</li>
        <img src="static/img/portfolio-baking.jpg" alt="baking">
        <li>Fishing</li>
        <img src="static/img/portfolio-fishing.jpg" alt="fishing">
        <li>Watching soccer</li>
        <img src="static/img/portfolio-watchingsoccer.jpg" alt="soccer">
        <li>Exploring the city</li>
        <img src="static/img/portfolio-city.jpg" alt="exploring">
    </ul>   
</div>
{%endblock%}