{%extends "navlayout.html"%}
{%block content%}
<div class="home">
    <div class="home-img">
        <img src="static/img/Maisha Headshot.jpg" alt="profile picture" width = 75% height = 75% aling="center" border-radius=50%>
    </div> 
        
    <div class="home-content">
        <h1> Maisha Miah </h1>
        <p> 
            Welcome to my portfolio! My name is Maisha (Ma-ee-sha) and <br>
            I’m a current student at Boston University. I plan on majoring <br>
            in Computer Science & Statistics and minoring in Economics. I’m <br>
            originally from New York City but love going to school in <br>
            Boston! I'm a big fan of exploring and I’m always looking to <br>
            learn new things.
        </p>
        <p style="font-size: 15px; padding-top: 50px"> 
            Click on the toolbar above to find out more about me. 
        </p>
    </div>
</div>

{%endblock%}
