{%extends "navlayout.html"%}
{%block content%}
<div class="home">
    <h1> Maisha Miah </h1>
    <p> 
        Welcome to my portfolio! My name is Maisha (Ma-ee-sha) and 
        I’m a current student at Boston University. I plan on majoring 
        in Computer Science & Statistics and minoring in Economics. I’m 
        originally from New York City but love going to school in 
        Boston! In my free time I like baking, watching soccer, and 
        exploring the city. 
    </p>
    <img src="static/img/Maisha Headshot.jpg" alt="profile picture">
</div>
{%endblock%}
