<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, intiial-scale=1.0">
        <title> Maisha's Portfolio Website </title>
        <link rel="stylesheet" href="../static/styles/style.css" type="text/css">
        <link rel="icon" href="../static/img/favicon.png"> 
        <script src="https://kit.fontawesome.com/f0df8f6371.js" crossorigin="anonymous"></script>
    </head>

    <body> 
        <header>
            <nav class="navigation">
                <ul>
                    <li><a href="#">
                            <i class="fa-solid fa-house-chimney"></i>                            
                            Home 
                        </a>
                    </li>
                    <li><a href="#">
                            <i class="fa-solid fa-user"></i>                            
                            Intro
                        </a>
                    </li>
                    <li><a href="#">
                            <i class="fa-solid fa-screwdriver-wrench"></i>                            
                            Skills 
                        </a>
                    </li>
                    <li><a href="#">
                            <i class="fa-solid fa-briefcase"></i>                            
                            Experience 
                        </a>
                    </li>
                    <li><a href="#">
                            <i class="fa-solid fa-gamepad"></i>
                            Projects 
                        </a>
                    </li>
                    <li><a href="#">
                            <i class="fa-regular fa-address-card"></i>
                            Contact 
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <section class="parallax"> 
            <img src="../static/img/HomepageBuildings.svg" class='buildings' id="buildings"> 
            <!-- <img src="../static/img/ProfilePic.png" id="pfp">  -->
            <br>
            <div id="scrolldown"> 
                <img src="../static/img/ProfilePic.svg" class="pfp">
                <h2 id="welcome"> Welcome </h2>
                <p id="scrollmsg"> <i class="fa-solid fa-angles-down" style="color: #000000;"></i> Scroll down to learn more about me! </p>
            </div>  
        </section>

        <section class="background">
            <h2> A Little About Me </h2>
            <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere 
                tellus vitae sagittis dictum. Mauris nec placerat metus, vel suscipit dolor. 
                Pellentesque luctus sapien velit, nec molestie erat bibendum sed. Phasellus 
                vel sapien id lorem laoreet blandit. Quisque at metus eget nibh convallis 
                aliquet. Fusce tempus imperdiet tellus, pulvinar aliquam ex fermentum eu. 
                Sed convallis suscipit tempus. Phasellus tincidunt porta erat eget ultrices. 
                Mauris sollicitudin turpis quis sodales facilisis. Morbi ut magna in lorem 
                lacinia commodo sit amet et ligula. Nam vehicula odio at dapibus congue. Nunc 
                dapibus faucibus massa, eget aliquet erat molestie in. Nam porta sagittis nunc, 
                vitae dignissim tortor fringilla in.
            </p>
        </section>

        <section class="experience">
            <h2> Skills and Experience </h2>
            <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere 
                tellus vitae sagittis dictum. Mauris nec placerat metus, vel suscipit dolor. 
                Pellentesque luctus sapien velit, nec molestie erat bibendum sed. Phasellus 
                vel sapien id lorem laoreet blandit. Quisque at metus eget nibh convallis 
                aliquet. Fusce tempus imperdiet tellus, pulvinar aliquam ex fermentum eu. 
                Sed convallis suscipit tempus. Phasellus tincidunt porta erat eget ultrices. 
                Mauris sollicitudin turpis quis sodales facilisis. Morbi ut magna in lorem 
                lacinia commodo sit amet et ligula. Nam vehicula odio at dapibus congue. Nunc 
                dapibus faucibus massa, eget aliquet erat molestie in. Nam porta sagittis nunc, 
                vitae dignissim tortor fringilla in.
            </p>
        </section>

        <section class="projects">
            <h2> Projects </h2>
            <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere 
                tellus vitae sagittis dictum. Mauris nec placerat metus, vel suscipit dolor. 
                Pellentesque luctus sapien velit, nec molestie erat bibendum sed. Phasellus 
                vel sapien id lorem laoreet blandit. Quisque at metus eget nibh convallis 
                aliquet. Fusce tempus imperdiet tellus, pulvinar aliquam ex fermentum eu. 
                Sed convallis suscipit tempus. Phasellus tincidunt porta erat eget ultrices. 
                Mauris sollicitudin turpis quis sodales facilisis. Morbi ut magna in lorem 
                lacinia commodo sit amet et ligula. Nam vehicula odio at dapibus congue. Nunc 
                dapibus faucibus massa, eget aliquet erat molestie in. Nam porta sagittis nunc, 
                vitae dignissim tortor fringilla in.
            </p>
        </section>

        <section class="contact">
            <h2> Get in Touch! </h2>
            <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere 
                tellus vitae sagittis dictum. Mauris nec placerat metus, vel suscipit dolor. 
                Pellentesque luctus sapien velit, nec molestie erat bibendum sed. Phasellus 
                vel sapien id lorem laoreet blandit. Quisque at metus eget nibh convallis 
                aliquet. Fusce tempus imperdiet tellus, pulvinar aliquam ex fermentum eu. 
                Sed convallis suscipit tempus. Phasellus tincidunt porta erat eget ultrices. 
                Mauris sollicitudin turpis quis sodales facilisis. Morbi ut magna in lorem 
                lacinia commodo sit amet et ligula. Nam vehicula odio at dapibus congue. Nunc 
                dapibus faucibus massa, eget aliquet erat molestie in. Nam porta sagittis nunc, 
                vitae dignissim tortor fringilla in.
            </p>
        </section>

        <script src="script.js"></script>
    </body>
</html>