{%extends "navlayout.html"%}
{%block content%}
<div class="home">
    <h1> Places I've Been </h1>
    <h2> Here's a list of places I've been:</h2>
    <ul>
        <li> New York City </li>
        <li> Boston </li>
        <li> Washington DC </li>
        <li> Connecticut </li>
        <li> New Jersey </li>
        <li> Pocono Mountains, Pennsylvania </li>
        <li> Upstate New York </li>
        <li> London, UK </li>
        <li> Dubai, UAE </li>
        <li> Dhaka, Bangladesh </li>
    </ul>
</div>
{%endblock%}