<!DOCTYPE html>
<html> 
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Personal Portfolio">
        <meta property="og:description" content="My Personal Portfolio">
        <meta property="og:url" content="{{ url }}">
    
        <!-- Required to use Ubuntu font  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    
        <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
        <title> Maisha's Portflio </title>
    </head>
    <body>
        <header>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            <div class="container">
                <p> Click on the toolbar to the right to find out more about me. </p>
                <strong> <nav>
                    <ul>
                        <li><a href="{{ url_for('homepage')}}">Home</a></li>
                        <li><a href="{{ url_for('workExp')}}">Experience</a></li>
                        <li><a href="{{ url_for('education')}}">Education</a></li>
                        <li><a href="{{ url_for('hobbies')}}">Hobbies</a></li>
                        <li><a href="{{ url_for('myMap')}}">Map</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>
    </body>
</html>